header, nav, main {
    max-width: auto;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
footer div {
    display: grid;
    grid-template-columns: auto auto auto;
}
#divnavWrapper {
    display: flex;
}
