/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  Apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} // end all elements


/* --------------------------- BODY --------------------------- */
body {
    font-family: $defaultFont;
    font-weight: $lightWeight;
    min-width: 320px;
    display: grid;
}


/* --------------------------- HEADER --------------------------- */
#headerWrapper {border-bottom: 1px solid $greyColor;}
header {
    display: grid;
    grid-template-columns: 50px auto 44px;
    column-gap: $gutter;
    align-items: center; //vertically
    padding: .5rem $gutter;
    font-family: "Bricolage Grotesque", sans-serif;
    span {
        font-size: 1.6rem;
        font-weight: bold;
        color: black;
    }
} // end header



/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */
div#navWrapper {
    grid-row-start: 4;
}
#top a, #navLinks > a {
    display: block;
    text-align: right;
    font-size: 1.6rem;
    height: 44px;
    text-decoration: none;
    color: #333;

}
#top a {
    font-size: 2rem;
}
#navLinks > a {
    padding: 15px 13px 0 0;
}
nav {
    height: 100vh;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

    }
    li a {
        display: block;
        color: $primaryColor;
        padding: .9rem 2vw;
        text-decoration: none;
        text-align: cen;
        border-bottom: 1px solid $greyColor;
    }
    li.active a {
        color: $secondaryColor;
    }
} // end nav













/* --------------------------- MAIN --------------------------- */
main {
    h1 {
        padding: 1rem $gutter .5rem $gutter;
        font-size: 2rem;
        color: black;
        font-weight: $lightWeight
    }
    p {
        padding: .5rem $gutter;
        color: #333;
        
    }
}// end main



/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
    background-color: grey;
    color: #333;
} // end footer wrapper

footer {
    text-align: center;
    color: black;
}




form.my-form {
    margin: 1rem $gutter;

    label  {
        display: block;
        font-size: .8rem;
        color: #333;
        padding-top: .2rem;
        padding: 5px;
    }
    h3 {
    font-family: "Bricolage Grotesque", sans-serif;
    border-bottom: solid 1px #333;
    
}
input[type=text],
input[type=tel],
input[type=number],
input[type=email],
input[type=password],
select{
    display: block;
    margin: .1rem 0 1rem 0;
    font-size: .9rem;
    font-size: 1rem;
    color: #333;
    padding: .5rem $gutter;
    border-radius: 3px 3px 0 0;
}
input:required {border-left-color: red;}
input:focus{border-bottom-color: #333;}
input:required:valid{border-bottom-color: green;}

input[type=submit] {
    border: none;
    background-color: #333;
    color: whitesmoke;
    border-radius: 1rem;
    padding: .75rem;
    margin: 2rem 0;
    width: 200px;
    font-size: 1.2rem;
    -webkit-appearance: none;
    appearance: none;
}
input[type=text] {
    font-size: 1rem;
}
} // end form